@keyframes squareTriangleCircle {
    //square
    0%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    //triangle
    25%{
        clip-path: polygon(50% 0, 50% 0, 100% 100%, 0% 100%);
    }
    //square
    50%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        border-radius:0;
    }
    //circle
    75%{
        border-radius: 50%;
    }
    //square
    100%{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

}
@keyframes TriangleCircleSquare {

    //triangle
    0% {
        clip-path: polygon(50% 0, 50% 0, 100% 100%, 0% 100%);
    }
    //square
    25% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        border-radius: 0;
    }
    //circle
    50% {
        border-radius: 50%;
    }
    //square
    75% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
    //triangle
    100% {
        clip-path: polygon(50% 0, 50% 0, 100% 100%, 0% 100%);
    }
}
@keyframes CircleSquareTriangle {
    //circle
    0% {
        border-radius: 50%;
    }
    //square
    25% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        border-radius:0;
    }
    //triangle
    50% {
        clip-path: polygon(50% 0, 50% 0, 100% 100%, 0% 100%);
    }
    //square
    75% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        border-radius: 0;
    }
    //circle
    100% {
        border-radius: 50%;
    }
}