/* size of browser */
$mobile-size:767px;
$tablet-size:1023px;
$desktop-size:1024px;

/*default contentsContainer height*/
$default-height:80vh;

/*default font size*/
$default-font-size:1.5rem;
$tablet-font-size:1.25rem;
$mobile-font-size: 1rem;
$small-font-size:0.5rem;

/*default line height*/
$default-line-height:2rem;