.pageWork{
    overflow: hidden;
    padding:1.5rem 3rem;
    font-size:$default-font-size;
    line-height: $default-line-height;
    .part1{
        margin:3rem 0;
        .explanation{
            width:70%;
            height:35vh;
            
        }
        .imgParagraphContainer{
            margin:1rem;
            display: flex;
            justify-content:space-around;
            align-items: flex-end;
            margin:0 10rem;
            img{
                width:50%;
                height:38vh;
                flex-shrink: 4;
                align-self: flex-end;
            }
            p{
                border-left:white 0.5vw solid;
                padding:0.5rem;
                font-size:medium;
                line-height: 1rem;
                width:20%;
                height:20vh;
                flex-shrink:1;
                text-align: center;
                vertical-align: middle;

            }
        }
    }
    .part2{
        margin: 3rem 0;
        display:flex;
        height: 95vh;
        .explanation{
            padding:1rem;
            width:50%;
            border-right:white 0.5vw solid;
        }
        .imgGrid{
            padding:1rem 2rem;
            width: 50%;
            display:grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(3, 1fr);
            gap:1rem;
            align-items: center;
            
            img{
                width:100%;
                max-height:14vw;
            }
        }
    }
    .part3{
        margin: 3rem 0;
        display: flex;
        height: 90vh;
        .paragraphContainer{
            width:60%;
            display:flex;
            flex-direction: column;
            justify-content:space-between;

        }
        .imgGrid{
            padding: 0 2rem;
            width: 40%;
            display: grid;
            gap:0.3rem;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, 1fr);
            align-items: center;

            img{
                width: 100%;
                max-height:13vw;
                object-fit: cover;
            }
        }
    }
        .part4 {
            display:flex;
            margin: 3rem 0;
            .imgGrid {
                width: 40vw;
                height:40vw;
                display: grid;
                gap: 1rem;
                grid-template-columns: repeat(6, 1fr);
                grid-template-rows: repeat(6, 1fr);
                align-items: center;
    
                div:nth-child(1) {
                    @include set-grid-item-location(1, 4, 1, 4);
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                div:nth-child(2) {
                    @include set-grid-item-location(1, 4, 4, 7);


                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                div:nth-child(3) {
                    @include set-grid-item-location(4, 7, 1, 2);
                    height: 100%;
                    
                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
    
                div:nth-child(4) {
                    @include set-grid-item-location(4, 7, 2, 7);
                    height: 100%;

                    img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            .paragraphContainer{
                display:flex;
                flex-direction: column;
                justify-content:space-between;
                width:50%;
                margin:0 3rem;
            }
        }
}