.contact{
    z-index:15;
    font-size:1rem;
    color:white;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    height:70%;
    min-width:120px;
    @include mobile{
        font-size:0.5rem;
    }

}