.homeContentsContainer {
  @extend .contentsContainer;
  display:flex;
  justify-content:center;
  height: $default-height;
  
  align-items:center;
  .backgroundRoseImg {
    z-index: 10;
    width: 70%;
    height: 90vh;
    transform: translate(-21rem, -4rem);

    background-image: url('../../../public/img/rose.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    
  }
  @include tablet {
    .backgroundRoseImg{
      background-image: none
    }
  }

  @include mobile {
    height:50vh;
    .backgroundRoseImg {
        background-image: none
      }
  }
  
}
