.modalBackground{
    z-index:10;
    position: absolute;
    top:0;
    left:0;
    background-color: rgba(0, 0, 0, 0.5);
    display:flex;
    justify-content: center;
    align-items: center;

    .closeBtn{
        position:absolute;
        top:2rem;
        right:3rem;
        width:3rem;
        height:3rem;
        
    }
    .modalContainer{
        
        .modal {
            box-shadow:0 0 5vh rgb(228, 223, 124);
            border: 7px solid rgb(228, 223, 124,0.9);
            z-index: 100;
            margin: 2rem;
            width: 60vw;
            height: 60vw;
            display: flex;
            justify-content: center;
            align-items: center;
            .innerCircle{
                background-color: white;
                width:90%;
                height:90%;
                display: flex;
                justify-content: center;
                align-items: center;
                div{
                    width:70%;
                    height:70%;
                    box-sizing:border-box;

                };
            }
    
        }
    }
    
}