.shapeBox{
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    place-self: center center;
    background-color:white;
    &:nth-child(3n+1){
        animation-name: change-square-triangle-circle;
        @include animation-option;
    }
    &:nth-child(3n+2){
        clip-path: polygon(50% 0, 50% 0, 100% 100%, 0% 100%);
        animation-name: change-triangle-circle-square;
        @include animation-option;
    }
    &:nth-child(3n+3) {
        border-radius: 50%;
        animation-name: change-circle-square-triangle;
        @include animation-option;
    }
    
    
}
