
.sidecontainer{
    width: 20%;
    height: inherit;
    z-index: 50;
    margin-bottom: 1.6rem;
    [class*="Grid"]{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: rows;
        gap: 1rem;
    }
}

.leftSideContainer{
    @extend .sidecontainer;
}

.rightSideContainer{
    @extend .sidecontainer;
    .smallRoseImg{
        top:0;
        transform:translateX(0.625rem);
        width:12rem;
        height:12rem;
    }
}