$images: (
    'imgItem1':'https://source.unsplash.com/random/400X400/?purple',
    'imgItem2':'https://source.unsplash.com/random/400×400/?blue',
);

.sirsContentsContainer{
    @include set-images($images);

    @extend .contentsContainer;
    
    .sirsImgBoxesContainer{
        margin:1rem 1rem;
        width: 95%;
        height: 25rem;
        display:flex;
        justify-content: space-around;
        .sirsImgBoxLarge{
            width: 60%;
            height: 100%;
        }
        .sirsImgBoxSmall{
            width: 35%;
            height: 85%;
        }
    }
    .sirsParagraphContainer{
        margin:1rem;
        font-size:1.5rem;
        line-height:2rem;
    }
}