$images: (
    'imgItem1':'https://source.unsplash.com/random/400X400/?yellow',
    'imgItem2':'https://source.unsplash.com/random/400×400/?blue',
);

.sirsContentsContainer{
    @include set-images($images);

    @extend .contentsContainer;
    .sirsImgBoxesContainer{
        margin:2rem auto;
        width: 95%;
        height: 25rem;
        display:flex;
        justify-content: space-around;
        .sirsImgBoxLarge{
            width: 60%;
            height:100%;
        }
        .sirsImgBoxSmall{
            width: 35%;
            height: 85%;
        }

        
    }
    .sirsParagraphContainer{
        margin:2rem;
        font-size:1.5rem;
        line-height:2rem;
    }
    @include tablet {
        .sirsImgBoxesContainer {
                flex-direction: column;
                box-sizing: border-box;
                width: 100%;
                height:auto;
                justify-content: space-around;
                align-items: center;
                padding: 1rem;
                .sirsImgBoxLarge {
                    width: 30rem;
                    height: 17.5rem;
                    margin-bottom: 1rem;
                }
        
                .sirsImgBoxSmall {
                    width: 12rem;
                    height: 12rem;
                }
                
            }
            .sirsParagraphContainer {
                font-size: $tablet-font-size;
                margin:2rem 1rem;

            }
    }
    @include mobile{
        .sirsImgBoxesContainer {
            flex-direction: column;
            width: 100%;
            height:80vh;
            justify-content: space-around;
            align-items: center;
            padding:1rem;
            .sirsImgBoxLarge {
                width:23rem;
                height:17.5rem;
                margin-bottom: 1rem;
            }
    
            .sirsImgBoxSmall {
                width: 10rem;
                height: 10rem;
            }
        }   
        
        .sirsParagraphContainer {
            margin: 0rem;
            padding:1rem;
            font-size: $mobile-font-size;
        }
        
    }
}