.footer{
    font-weight:600;
    font-size:1.25rem;
    height:5rem;
    transform:translateX(5rem);

    color:white;
    display:flex;
    flex-direction:column;
    justify-content:space-between;

}