.header{
    display:flex;
    justify-content: space-between;
    align-items:center;
    height:12vh;
    padding:1.5rem 3rem;
    background:black;
    //position:relative;
    .title{
        color:white;
        font-size: 2.5rem;
        font-weight:500;
        letter-spacing: 0.2rem;
        //text-shadow: 0 0 0.8vh rgb(255, 255, 255);
    }
}