$btns:(btn1,btn2,btn3);
$texts:(text1,text2,text3);

.mainGrid{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: repeat(5,1fr);
    font-weight: 553;
    width: 70%;
    height:90vh;
    @each $btn in $btns{
        .#{$btn}{
            font-size: 5.3rem;
            place-self: center center;
            color: cadetblue;
            transition: color 0.5s ease-in-out;
        
            &:hover {
                color: cornflowerblue;
            }
        }
    }


    
    .btn1 {
        @include grid-item-location(1,2,1,2); 
    }

    .btn2{
        @include grid-item-location(3, 4, 4, 5);
    }

    .btn3 {
        @include grid-item-location(5,6,7,8);
    }


}
