.mainFlexbox{
    display:flex;
    justify-content:space-between;
    align-items: center;
    @include mobile{
        flex-direction: column;
        justify-content:center;
        margin:2rem;
    }
    
}