$links: (
    linkSirs,
    linkIrs,
    linkIr
);
$navItems: (
    navItemPast,
    navItemPresent,
    navItemFuture
);

nav{
    width: 100%;
    height: inherit;
    position: absolute;
    color: white;
    z-index: 15;
    display: flex;
    justify-content: center;
    align-items: center;

    
    .navItemPast {
        top: 1rem;
        left: 42rem;

        .linkSirs {
            transform: translateX(-3rem);
        }
    }

    .navItemPresent {
        top: 12rem;
        left: 44rem;

        .linkIrs {
            transform: translateX(2.5rem);
        }
    }

    .navItemFuture {
        top: 23rem;
        left: 38rem;

        .linkIr {
            transform: translateX(11rem);
        }
    }

    @each $navItem in $navItems {
        .#{$navItem} {
            display: flex;
            flex-direction: column;
            position: absolute;

            @each $link in $links {
                .#{$link} {
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 3rem;
                    place-self: center center;
                    color: white;
                    transition: color 0.5s ease-in-out;

                    &:hover {
                        color: gray;
                    }
                }
            }

            span {
                font-size: 1.5rem;
            }
        }
    }
    /*navigator media quiery tablet*/
    @media (min-width: $mobile-size) and (max-width:1340px){
        ul{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: inherit;
            @each $navItem in $navItems {
                .#{$navItem} {
                    position: static;
                    span {
                        text-align: center;
                    }
                }
            }
        }
        &.noDisplay{
            display:none;
        }
    }

    /*navigator media quiery mobile*/
    @include mobile {
        height:80%;
        ul{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: inherit;
            @each $navItem in $navItems {
                .#{$navItem} {
                    position: static;
                    padding:0 0.5rem;
                    
                    @each $link in $links {
                        .#{$link} {
                            position:static;
                            font-size:2rem;
                            transform:none;
                        }
                    }
                    span {
                        text-align: center;
                        font-size:0.5rem;
                        padding:3px;
                    }

                }
            }
        }
        &.noDisplay {
            display: none;
        }
    }
    
}
