$links: (
    link1,
    link2,
    link3
);
$navItems: (
    navItem1,
    navItem2,
    navItem3
);

nav{
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    position: absolute;
    color: white;
    z-index: 15;
    
.navItem1 {
        top: 1rem;
        left: 42rem;

        .link1 {
            transform: translateX(-3rem);
        }
    }

    .navItem2 {
        top: 12rem;
        left: 44rem;

        .link2 {
            transform: translateX(2.5rem);
        }
    }

    .navItem3 {
        top: 23rem;
        left: 38rem;

        .link3 {
            transform: translateX(11rem);
        }
    }

    @each $navItem in $navItems {
        .#{$navItem} {
            display: flex;
            flex-direction: column;
            position: absolute;

            @each $link in $links {
                .#{$link} {
                    text-decoration: none;
                    font-weight: 600;
                    font-size: 3rem;
                    place-self: center center;
                    color: white;
                    transition: color 0.5s ease-in-out;

                    &:hover {
                        color: gray;
                    }
                }
            }

            span {
                font-size: 1.5rem;
            }
        }
    }
    
}
